<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>О {{this.user.user_name}}</title>
        {{> common/meta/header }}
    </head>
    <body>
        <a href="/" class="tooltip tooltip-bottom" data-tooltip="На главную" style="float:left">
            <img src="/static/img/logo.jpg" height="100" width="100">
        </a>
        <br>
        <span class="h2 text-success"  style="margin:auto; display:table;" >Топ 10 сочетаний для {{this.user.user_name}}:</span>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Какой</th>
                    <th>Количество совпадений</th>
                </tr>
            </thead>
            <tbody>
                {{#each adj_count}}
                    <tr>
                        <td><a href="/adjective/{{this.adjective.id}}">{{this.adjective.adjective_value}}</a></td>
                        <td>{{this.count}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{> common/footer }}
    </body>
</html>